@import "base";

.notification__container{
  position: fixed;
  top: 10%;
  right: 50px;
  //border: 1px dotted green;
  z-index: 20;
  .notification__box{
    max-width: 400px;
    margin: 10px 0px;
    padding: 10px 20px;
    color: $CL_TEXT;
    border-right: 5px solid transparent;
    background-color: darken($CL_BACKGROUND, 3);
    text-align: center;
    max-height: 200px;
    word-wrap: break-word;
    font-size: 20px;
    font-weight: 100;
    &.success{
      border-color: $CL_SUCCESS;
    }
    &.error{
      border-color: $CL_FAILED;
    }
    &.warning{
      border-color: $CL_EDIT;
    }
    &.info{
      border-color: var(--CL_FOREGROUND);
    }
  }
}